Django==1.3
South
virtualenv
yolk
django-sitetree
django-treenav
django-mptt
django-shell-plus
django-debug-toolbar
django-extensions
sorl-thumbnail
BeautifulSoup
#-e hg+https://bitbucket.org/knurpsburps/django-genericadmin#egg=DjangoGenericadmin
-e git://github.com/peppelorum/django-articles.git#egg=DjangoArticles
redis
django-markdown
django-wysiwyg
-e git://github.com/jezdez/django_compressor.git@develop#egg=django-compressor
psycopg2==2.4.4
django-storages