Django==1.2.5
South==0.7.3
virtualenv==1.5.1
yolk==0.4.1
django-sitetree
django-treenav
django-mptt
django-shell-plus
django-debug-toolbar
django-extensions
sorl-thumbnail
BeautifulSoup
-e hg+https://bitbucket.org/knurpsburps/django-genericadmin#egg=DjangoGenericadmin
-e git://github.com/peppelorum/django-articles.git#egg=DjangoArticles
-e git://github.com/dziegler/django-css.git#egg=DjangoEgg
redis

