/*

#bg {
	position: absolute;
	top: 95px;
	left: 555px;
	height: 200px;
	width: 200px;
	margin-left: 5px;
	background-image: url('images/g1981.png');
	background-repeat: no-repeat;
	z-index: 1;
}

#bg #flash {
	position: absolute;
	top: 9px;
	left: 9px;
	z-index: 2;
}

#bg #cover {
	position: absolute;
	top: -20px;
	left: 30px;
	height: 76px;
	width: 82px;
	z-index: 3;
	background-image: url('images/kontact.png');
	background-repeat: no-repeat;
}

#main #blockHUCorner {
	position: relative;
	float:right;
	top: 0px;
	right: 0px;
	height: 76px;
	width: 96px;
	z-index: 0;
	background-color: #ffffff;
	background-repeat: no-repeat;
}

			


			*/






/*body {*/
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	/*font-size: 90%;*/
	/*color: #000000;*/
	/*background-image: url("images/band/top.png");*/
	/*background-repeat: repeat-x;*/
	/*margin: 0px;*/
	/*line-height: 150%;*/
/*}*/

/*#wrapper {*/
	/*margin: 0pt auto;*/
	/*width: 800px;*/
	/*padding: 0px 0 0 0;*/
/*}*/

	/*div#mainwrapper {*/
		/*margin: 30px 0 0 0;*/
	/*}*/

	/*div#logo{*/
		/*float: left;*/
		/*height: 123px;*/
		/*width: 800px;*/
		/*clear: both;*/
/* 		margin: 0pt auto; */
		/*padding: 0 0 19px 0;*/
		/*margin: 0 0 0 40px;*/
		/*background: url("images/band/logo.png") no-repeat;*/
	/*}*/

	/*div#menu{*/

	/*}*/
		/*ul#menubar {*/
			/*text-align: center;*/
			/*list-style: none;*/

			/*padding: 0;*/
			/*margin: 0 0 5px 0;*/
		/*}*/

		/*ul#menubar li {*/
			/*display: inline;*/
			/*font-weight: bold;*/
		/*}*/

		/*ul#menubar li a {*/
			/*color: #000;*/
			/*display: inline;*/
			/*padding: 7px 10px 6px 10px;*/
			/**/
		/*}*/

		/*ul#menubar li a:hover {*/
			/*background: #fff;*/
		/*}*/


	/*#content {*/
		/*display:block;*/
		/*float: right;*/
		/*width: 580px;*/
	/*}*/

	/*#main {*/

	/*}*/

/*#footer {*/
	/*width: 742px;*/
	/*height: 145px;*/
	/*background: repeat-y left;*/
/*}*/

/*h1 {*/
	/*margin-top: 0;*/
/*}*/

/*.last {*/
	/*margin-bottom: 0;*/
/*}*/

/*.clearing {*/
	/*height: 0;*/
	/*clear: both;*/
/*}*/



/*ul.nodes_by_date, ul.nodes_by_tag {*/
/* 	display: block; */
/* 	clear: both; */
	/*float: left;*/
	/*width: 100%;*/
	/*margin-left: 0;*/
	/*padding: 0;*/
/* 	border: 1px #000 solid; */
/*}*/

/*.nodes_by_date li, .nodes_by_tag li {*/
	/*float: left;*/
	/*width: 12em;*/
	/*margin: 0;*/
	/*padding: 0;*/
	/*list-style: none;*/
/*}*/

/*ul.nodes_by_tag  {*/
	/*line-height: 2.5em;*/
	/*word-spacing: 1.4em;*/
/*}*/

/*div#nodes_by_most_viewed, div#nodes_by_most_commented {*/

	/*float: left;*/
	/*width: 48%;*/
	/*overflow: hidden;*/
	/*margin-left: 0;*/
	/*padding: 0;*/
/*}*/

/*ul.nodes_by_most_viewed, ul.nodes_by_most_commented {*/

/*}*/


/*.progress_base{*/
	/*width: 75%;*/
	/*background-color: #f0f0f0;*/
	/*padding: 1px;*/
	/*border-style: solid;*/
	/*border-width: 1px;*/
	/*border-color: #7b98b5;*/
/*}*/

/*.progress{*/
	/*background-color: #9E9E9E;*/
	/*padding: 2px;*/
	/*color: #ffffff;*/
/*}*/

/*p.redirect{*/
	/*color: #9E9E9E;*/
/*}*/








#cat {
	display: block;
	float: left;
	width:185px;
}

	#catmain
	{
		padding:0 0 0 20px;
/* 		margin-top: -10px; */
	}


#tags {
	background-color: #f6f6f4;
	padding: 4px;
	margin-top: 20px;
	clear: both;
}

.tagsChild {
	padding-left: 20px;
	clear: both;
}

.tagsParent {
	font-style: italic;
}

span.tagsParent {
	display: block;
	clear: right;
}

.nodeInfo {
	display: block;
	clear: both;
	margin-bottom: 10px;
}

.date {
	float: left;
	height: 60px;
	width: 53px;
	background: url("images/band/calendar.png") no-repeat;
	line-height: 12px;
	text-align: left;
	font-family: georgia;
	margin: 0 5px 0 0;
}
	.date p {
		padding-top: 13px;
		padding-left: 17px;
		color: #B2B2B2;
		margin: 0;
		text-transform: uppercase;
	}
	.date span.day {
		font-size: 1.9em;
		display: block;
		color: #81ab7e;
	}
	.date span.month {
		font-size: 0.8em;
		height: 12px;
		color: #797979;
		display: block;
	}

#nodeTitle  {
/* 	color: #000; */
/* 	font-family: georgia; */
/* 	font-size: 120%; */
/* 	font-weight: bolder; */
/* 	margin-top: 4px; */
	margin-bottom: 4px;

}

	#nodeTitle a {
		color: #000;
		font-family: georgia;
		font-size: 110%;
	/* 	font-weight: bolder; */
	/* 	margin-top: 4px; */
	/* 	padding-bottom: 0px; */
	}

	#nodeTitle a:hover {
		text-decoration: underline;
	/* 	font-weight: bolder; */
	/* 	margin-top: 4px; */
	/* 	padding-bottom: 0px; */
	}

h2 {
	font-family: georgia;
	font-size: 140%;
	font-weight: bolder;
	margin-top: 0px;
	margin-bottom: -6px;
}

h3 {
	font-family: georgia;
	font-size: 120%;
	font-weight: bolder;
	margin-top: 0px;
	margin-bottom: -6px;
}


#comments {
	background: url(images/tejp/comments_curve.gif) no-repeat;
	background-color: #f6f6f4;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 40px;
	clear: both;
}

.commentsName {
	margin: 4px 0 0 0;
	padding: 0 10px 1em 30px;
	color: #999;
	border-bottom: 1px solid #d7d0c7;
	background: url(images/tejp/comment_arrow_blue.gif) no-repeat 14px 2px;
}

p.odd{
	padding-top: 9px;
	padding-bottom: 9px;
}

p.even{
	padding-top: 0px;
	padding-bottom: 0px;
}

.sok {
	background-color: #ffffff;
	color: #000000;
	border-top: 0px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 0px solid #FFFFFF;
	border-left: 3px solid #FFFFFF;
	margin: 0px;
	padding: 0px;
	height: 20px;
}

.added {
	color: #008800;
}

.deleted {
	color: #880000;
}

input#sok {
	background-color: #ffffff;
	color: #000000;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	margin: 0px;
	padding: 1px;
}

#search
{
	position:relative;
	width:150px;
	height:21px;
	z-index:5;
	left: 380px;
	top: 0px;
}


.uploadimage {
	background-color: #FFFFFF;
	padding-top: 20px;
	clear: both;
}


.box
{
	position:relative;
	width: 99%;
	z-index:1;
	background-color: #FAFAFA;
	padding: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #7b98b5;
}


div.tab
{
	position: absolute;
	top: 0px;
	left: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #7b98b5;
}

span.highlight
{
	color: #86231A;
	font-weight: bold;
}

img.left
{
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px;
	border-style: solid;
	border-color: #000000;

	float: left;
}

img.right
{
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	border: 1px;
	border-style: solid;
	border-color: #000000;
	float: right;
}

img.none
{

	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px;
	border-style: solid;
	border-color: #000000;
}

img
{
	border: 0px;
}

table
{
	width: 99%;
}


A { text-decoration: none; color: #297C24}
A:visited { text-decoration: none; color: #297C24}
A:hover { text-decoration: underline; color: #000000}
A:active { text-decoration: none; color: #988467}
