{% load i18n %}
<div id="article-content" class="article">
    <a href="{{ article.get_absolute_url }}"><h1 class="title">{% trans article.title %}</h1></a>


    <div class="date">
        <p><span>{{ article.publish_date|date:"jS" }}</span>
            {{ article.publish_date|date:"F" }}
        </p>
    </div>

    {{ article.rendered_content|safe }}


    <span class="tags">{% trans 'Tags' %}: {% if article.tags.count %}{% for tag in article.tags.all %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a> {% endfor %}{% else %}None{% endif %}</span>

    <span class="author"><a href="{% url articles_by_author article.author.username %}" title="{% trans 'Read other articles by this author' %}">{{ article.author.get_name }}</a></span>
    <hr>
</div>

<!--{% for att in article.attachments.all %}-->
<!--{% if forloop.first %}<div id="article-attachments">-->
    <!--<h2>Attachments</h2>-->
    <!--<ul>{% endif %}-->
        <!--<li id="attachment-{{ forloop.counter }}" class="attachment ct_{{ att.content_type_class }}">-->
            <!--<a href="{{ att.attachment.url }}" class="attachment-link">{{ att.filename }}</a>-->
            <!--<span class="attachment-size">Size: {{ att.attachment.size|filesizeformat }}</span>-->
        <!--</li>-->
    <!--{% if forloop.last %}</ul>-->
<!--</div>{% endif %}-->
<!--{% endfor %}-->

