{% load article_tags %}
{% load treenav_tags %}
{% load compress %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>P Bergqvist - {% block title %}Welcome{% endblock %}</title>

	<!-- <meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> -->
	<meta charset="utf-8" />
	<meta name="keywords" content="{% block meta-keywords %}{% endblock %}" />
	<meta name="description" content="{% block meta-description %}{% endblock %}" />
	<link rel="shortcut icon" href="{{ STATIC_URL }}../pipiki/static/images/favicon.ico" type="image/x-icon" />
	<script src="{{ STATIC_URL }}../pipiki/static/js/head.min.js"></script>
    <script>
		head.js(
			"https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js",
{#			"{{ MEDIA_URL }}js/colorbox/colorbox/jquery.colorbox-min.js",#}
            "{{ STATIC_URL }}js/jquery.fittext.js",
{#			"http://use.typekit.com/yso7koy.js", function() {#}
{#		        try{Typekit.load();}catch(e){};#}
{#		}#}
            function() {

        }
        );

        head.ready(function() {
            $("h1.title").fitText(1.2, { minFontSize: '10px', maxFontSize: '30px' });
        });
	</script>

    {% compress css %}
        {% get_static_prefix as STATIC_PREFIX %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}../pipiki/static/foundation/stylesheets/globals.css"/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}../pipiki/static/foundation/stylesheets/grid.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}../pipiki/static/foundation/stylesheets/typography.css"/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}../pipiki/static/foundation/stylesheets/app.css"/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}../pipiki/static/foundation/stylesheets/forms.css"/>

        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}../pipiki/static/foundation/stylesheets/ie.css"/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}../pipiki/static/foundation/stylesheets/mobile.css"/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}../pipiki/static/foundation/stylesheets/orbit.css"/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}../pipiki/static/foundation/stylesheets/reveal.css"/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}../pipiki/static/foundation/stylesheets/ui.css"/>

        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}../pipiki/static/css/paper.css" />
    {% endcompress %}

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ultra' rel='stylesheet' type='text/css'>

    {% block extra-head %}{% endblock %}

</head>

<body>

<div class=container>
        <div class="row header">
            <div class="twelve columns">


            </div>
        </div>
        <div class="row">
            <div class="eight columns content">
                <span id="vu"></span>
                <span id="hu"></span>

                            <a href="/"><h1 class="logo">P Bergqvist</h1></a>

                {% single_level_menu "start" 6 %}

                {% render_menu_children "start" %}

                {% show_treenav "start" full_tree=True %}

                {{ full_tree }}


                <!---->


                <!--<ul class="menu show-on-desktops">-->
                    <!--<li>-->
                        <!--<a href="">-->
                            <!--<strong>Hej</strong>-->
                            <!--<span>sadjksadk</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="">-->
                            <!--<strong>Projekt</strong>-->
                            <!--<span>sadjksadk</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="">-->
                            <!--<strong>Blog</strong>-->
                            <!--<span>sadjksadk</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="">-->
                            <!--<strong>rsahdjaks dj</strong>-->
                            <!--<span>sadjksadk</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="">-->
                            <!--<strong>Kontakt</strong>-->
                            <!--<span>sadjksadk</span>-->
                        <!--</a>-->
                    <!--</li>-->

                <!--</ul>-->

                <select class="menu show-on-phones">
                    <option>asjdsad</option>
                    <option>asjdsad</option>
                    <option>asjdsad</option>
                    <option>asjdsad</option>
                </select>

                {% block content %}
                    {{ flatpage.content|safe }}
                {% endblock %}
            </div>
            <div class="three columns sidebar">
                <span class="vu"></span>
                <span class="hu"></span>
                {% block sidebar %}
                {% block recent_articles %}

                    <h2>Recent Articles</h2>
                    {% get_articles 10 as recent %}
                    {% for article in recent %}
                    {% if forloop.first %}
                    <ul>{% endif %}
                        <li>
                           <a href="{{ article.get_absolute_url }}" title="Read this article">{{ article.title }}</a>
                        </li>
                        {% if forloop.last %}
                    </ul>
                    {% endif %}
                    {% endfor %}

                {% endblock %}

                {% block article_tags %}
                <ul>
                <li>
                    <h2>Tag Cloud</h2>
                    {% tag_cloud %}
                </li>
                </ul>

                {% endblock %}
                {% endblock %}
            <span class="bottom"></span>
            </div>
        </div>


        <div class="row">
            <div class="twelve columns">

                {% block footer %}
                <p>Copyright &copy; {% now "Y" %} Me. All rights reserved.</p>
                {% endblock %}
            </div>
        </div>


    </div>

{#<a title="Real Time Analytics" href="http://getclicky.com/66532007"><img alt="Real Time Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>#}
<script type="text/javascript">
    var clicky_site_ids = clicky_site_ids || [];
    clicky_site_ids.push(66532007);
    (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://static.getclicky.com/js';
        ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
    })();
</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/66532007ns.gif" /></p></noscript>
</body>
</html>
